
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/istatistik/index/"><i class="glyphicon glyphicon-home"></i> &nbsp; Ana Sayfa </a>
        <a href="/Kategori/Index"><i class="glyphicon glyphicon-list"></i> &nbsp; Kategori </a>
        <a href="/Kitap/Index/"><i class="glyphicon glyphicon-book"></i> &nbsp; Kitaplar </a>
        <a href="/Yazar/Index/"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Yazarlar </a>
        <a href="/Uye/Index/"><i class="glyphicon glyphicon-user"></i> &nbsp; Üyeler </a>
        <a href="/Personel/Index/"><i class="glyphicon glyphicon-tower"></i> &nbsp; Personeller </a>
        @if (User.IsInRole("A"))
        {
        <a href="~/Odunc/OduncVer/"><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Ödünç Kitap Ver </a>
        <a href="/Odunc/Index/"><i class="glyphicon glyphicon-circle-arrow-left"></i> &nbsp; Ödünç Kitap Al </a>
        }
        <a href="/istatistik/index/"><i class="glyphicon glyphicon-sort"></i> &nbsp; İstatistikler </a>
        <a href="/duyuru/index/"><i class="glyphicon glyphicon-earphone"></i> &nbsp; Duyurular </a>
        <a href="/islem/index/"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; İşlemler </a>
        <a href="/istatistik/hava/"><i class="glyphicon glyphicon-cloud"></i> &nbsp; Hava Durumu </a>
        <a href="/istatistik/havakart/"><i class="glyphicon glyphicon-plus"></i> &nbsp; Hava Kartları </a>
        <a href="/istatistik/galeri/"><i class="glyphicon glyphicon-picture"></i> &nbsp; Galeri </a>
        <a href="/istatistik/linqkart/"><i class="glyphicon glyphicon-bookmark"></i> &nbsp; Linq Kartlar </a>
        <a href="/vitrin/index/"><i class="glyphicon glyphicon-gift"></i> &nbsp; Vitrin </a>
        <a href="/grafik/index/"><i class="glyphicon glyphicon-console"></i> &nbsp; Grafikler </a>
        <a href="#"><i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar </a>
        <a href="/adminlogin/login/"><i class="glyphicon glyphicon-remove-sign"></i> &nbsp; Çıkış </a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
