@using MvcKutuphane.Models.Entity
@model List<TblMesajlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Gelen Mesaj Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.gonderen</td>
            <td>@x.konu</td>
            <td>@x.icerik</td>
            <td>@x.tarih</td>
        </tr>
    }
</table>