@using MvcKutuphane.Models.Entity
@model List<TblHareket>
@{
    ViewBag.Title = "Kitaplarım";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}
<br />

<h2>Kitap Geçmişim</h2>

<br />

<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
    </tr>



    @foreach (var k in Model)
        {
            <tr>
                <td>@k.TblKitap.ad</td>
                <td>@Convert.ToDateTime(k.alistarihi).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(k.uyegetirtarih).ToString("dd/MM/yyyy")</td>
            </tr>
        }
</table>

